


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo-banner-img{
 
  width: 100%;

}

.banner-img{
  width: 100%;
  margin-bottom: 10em;
}

#navbar {
  display: flex;
  justify-content: space-around;
}

.navbar-logo{
  height: 4em; 
  width: 4em;
}

.navbar-search{

  margin-bottom: -10px;
  height: 2.5em;
}



#create-account-form, #login-form{
  
  margin: 0;
  padding-top: 3em;
  padding-left: 5em;
  padding-right: 0;
  width: 60em;
}

.login-logo{
  height: 15em;
  width: 15em;
  margin-left: 17em;
  margin-top: 4em;
}
.design-image {
  margin-top: -10em;
  margin-left: -25em;
  height: 40em;
  width: 40em;
}

.input{
  border-style: none;

}

.navbar-user-image{
  object-fit: cover;
  object-position: center; /* Center the image within the element */
   width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
}


.navbar-user-name{
  margin-left: 10px;
}

.user-page-home-button{
  border: solid black 1px;
  padding: 1em;
  border-radius: 50%;
  height: 4em;
  width: 4em;
  margin: 2em;
}
.room-image {
  object-fit: cover !important;
  object-position:  center !important;
  overflow: hidden !important;
  width: 290px !important;
  height: 300px !important;
}

  .room-card{
   display: flex;
  flex-wrap: wrap;
  }

 .user-page-nav{
   display: flex;
   justify-content: flex-start;
   background-image: url('./usernav.png');
   background-repeat: no-repeat;
   
 }
 .user-page-nav > .user-page-icon {
  margin: .5em;
  padding-bottom: -10px;
 }

 .user-header-info{
  display: flex;
  justify-content: center;
  margin-top: -3em;
  margin-right: 2em;
 }

 .user-page-icon :hover{
  height: 2.5em;
  width: 2.5em;
  color: grey;
 }

 .main-profile-picture{
  object-fit: cover;
  object-position: center; /* Center the image within the element */
   width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    border: solid rgb(75, 74, 74) 2px;
   
 }

.room-page-header{
  margin: auto;
  width: 50%;
  justify-content: center;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 15px;
  padding-bottom: 2em;
  padding-top: 2em;
  border-style: double;
  border-width: 5px;
}

.room-page-actions{
  justify-content: center;
  text-align: center;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
